* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;
}

body {
  color: blue;
  background-color: white;
}

header {
  color: white;
  position: static;
  height: 10vh;
  width: 100%;
  border-radius: 0 0 10px 10px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 255, 0.8) 80%, rgba(0, 0, 255, 0));
}

img {
  object-fit: cover;
}

#hdrbtn {
  height: 20px;
  width: 20px;
  background-color: blue;
}

main {
  text-align: center;
}

#elboi {    /* el.html */
  color: blue;
  background-color: white;
}

#krafterimg {   /* hastighet.html, krafter.html och termofysik.html */
  border: #75474a 5px solid;
  display: inline-block;
  margin: 0 auto;
  text-align: right;
}

#krafterboi {   /* hastighet.html, krafter.html och termofysik.html */
  color: blue;
  background-color: white;
  margin: 25px
}

#krets {   /* ? */
  border: #75474a 5px solid;
  display: inline-block;
  margin: 0 auto;
  text-align: right;
  height: 40px;
  margin: 20px;
}

#amne {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}

#amne a {
  display: block;
  border-radius: 12px 12px 12px 12px;
  box-shadow: inset 0 0 20px 10px rgba(0, 0, 0, 0.8);
  text-shadow: 0px 2px 2px #000000;
  padding: 6rem 3rem;
  margin: 2rem 50rem 2rem 4rem;
}

#kraftlnk {   /* htmlwebb.html */
  background: url(img/krafterimg.jpg) center / cover ;
  color: rgb(106, 193, 255);
}

#hastighetlnk {   /* htmlwebb.html */
  background: url(img/f4-7-1-lik-300x174.png) center / cover ;
  color: rgb(0, 255, 26);
}

#termolnk {   /* htmlwebb.html */
  background: url(img/unnamed__10_.jpg) center / cover ;
  color: rgb(255, 0, 0);
}

#ellnk {   /* htmlwebb.html */
  background: url(img/image016-5.png) center / cover ;
  color: rgb(255, 255, 0);
}

/*
.app
#webby
*/