* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

head {
    color: white;
    background-color: blue;
}

body {
    color: blue;
    background-color: white;

}

#titleb {   /* <h1> selector of htmlwebb.html */
    color: white;
    background-color: blue;
    padding-left: 56px;
}

#elboi {    /* el.html */
    color: blue;
    background-color: white;
}

#krafterimg {   /* hastighet.html, krafter.html och termofysik.html */
    border: #75474a 5px solid;
    display: inline-block;
    margin: 0 auto;
    text-align: right;
}

#krafterboi {   /* hastighet.html, krafter.html och termofysik.html */
    color: blue;
    background-color: white;
    margin: 25px
}

#albert {   /* ? */
    display: flex;
    margin-left: 20px;
    margin-top: 45px;
}

#krets {   /* ? */
    border: #75474a 5px solid;
    display: inline-block;
    margin: 0 auto;
    text-align: right;
    height: 40px;
    margin: 20px;
}

#kraftlnk {   /* htmlwebb.html */
  display: block;
  padding: 6rem 6rem;
  margin: 2rem 2rem 2rem 2rem;
  border-radius: 12px 12px 12px 12px;
  background: url(img/krafterimg.jpg) center / cover ;
  color: rgb(0, 17, 255);
  box-shadow: inset 0 0 20px 10px rgba(0, 0, 0, 0.8);
}

#hastighetlnk {   /* htmlwebb.html */
  display: block;
  padding: 6rem 6rem;
  margin: 2rem 2rem 2rem 2rem;
  border-radius: 12px 12px 12px 12px;
  background: url(../img/___.jpg) center / cover ;
  color: rgb(0, 17, 255);
  box-shadow: inset 0 0 20px 10px rgba(0, 0, 0, 0.8);
}

/*
.app
#webby
#amne
*/