* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;
}

body {
  color: blue;
  background-color: white;
}

header {
  color: white;
  position: static;
  height: 20vh;
  width: 100%;
  border-radius: 0 0 10px 10px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 255, 0.8) 80%, rgba(0, 0, 255, 0));
}

img {
  object-fit: cover;
  height: 90px;
  width: 210px;
  margin: auto;
}

#kraftimg {
  width: 400px;
  height: 200px;
}

#hastimg {
  width: 200px;
  height: 200px;
}

#krets {
  width: 350px;
  height: 250px;
}

#termoimg {
  width: 310px;
  height: 180px;
}


#hdrbtn {
  height: 20px;
  width: 20px;
  background-color: blue;
}

main {
  text-align: center;
}



#text {   /* hastighet.html, krafter.html och termofysik.html */
  color: rgb(0, 0, 255);
  background-color: rgb(255, 255, 255);
  margin: 25px
}


#amne {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}

#amne a {
  display: block;
  border-radius: 12px 12px 12px 12px;
  box-shadow: inset 0 0 20px 10px rgba(0, 0, 0, 0.8);
  text-shadow: 0px 2px 2px #000000;
  padding: 6rem 1rem;
  margin: 3rem 4rem auto;
}

#kraftlnk {   /* htmlwebb.html */
  background: url(img/krafterimg.jpg) center / cover ;
  color: rgb(106, 193, 255);
}

#hastighetlnk {   /* htmlwebb.html */
  background: url(img/f4-7-1-lik-300x174.png) center / cover ;
  color: rgb(0, 255, 26);
}

#termolnk {   /* htmlwebb.html */
  background: url(img/unnamed__10_.jpg) center / cover ;
  color: rgb(255, 0, 0);
}

#ellnk {   /* htmlwebb.html */
  background: url(img/image016-5.png) center / cover ;
  color: rgb(255, 255, 0);
}

#starth {
  display: block;
  border-radius: 60px 60px 60px 60px;
  box-shadow: inset 0 0 90px 30px rgb(0 58 255 / 80%);
  text-shadow: 1px 1px 4px #ffffff;
  padding: 1rem 1rem;
  margin: 1rem 1rem auto;
}
/*
.app
#webby
*/