
/*-- Fysiknu --*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;
}

body {
  color: blue;
  background-color: white;
  background-image: url("img/fysikback.jpg");
}


header {
  color: white;
  position: static;
  height: 20vh;
  width: 100%;
  border-radius: 0 0 10px 10px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 255, 0.8) 70%, rgba(36, 36, 153, 0));
}

img {
  object-fit: cover;
  height: 90px;
  width: 210px;
  margin: auto;
}

h1 {
  text-align: center;
}

div {
  background: rgb(0 0 255 / 0);
}

#kraftimg {
  width: 20rem;
  height: 200px;
}

#hastimg {
  width: 200px;
  height: 200px;
}

#krets {
  width: 350px;
  height: 250px;
}

#termoimg {
  width: 310px;
  height: 180px;
}


#hdrbtn {
  height: 20px;
  width: 20px;
  background-color: blue;
}

main {
  text-align: center;
}



#text {  
  color: rgb(0, 0, 255);
  background-color: rgb(255, 255, 255);
  margin: 25px;
}

#amne a {
  display: block;
  border-radius: 12px 12px 12px 12px;
  box-shadow: inset 0 0 20px 10px rgba(0, 0, 0, 0.8);
  text-shadow: 0px 2px 2px #000000;
  padding: 6rem 1rem;
  margin: 3rem 4rem auto;
}

#amne a:hover {
  box-shadow: 10px 10px;color: rgb(0, 0, 0);
}

#kraftlnk {   /* htmlwebb.html */
  background: url(img/krafterimg.jpg) center / cover ;
  color: rgb(106, 193, 255);
}

#hastighetlnk {   /* htmlwebb.html */
  background: url(img/f4-7-1-lik-300x174.png) center / cover ;
  color: rgb(0, 255, 26);
}

#termolnk {   /* htmlwebb.html */
  background: url(img/unnamed__10_.jpg) center / cover ;
  color: rgb(255, 0, 0);
}

#ellnk {   /* htmlwebb.html */
  background: url(img/image016-5.png) center / cover ;
  color: rgb(255, 255, 0);
}

#starth {
  display: block;
  border-radius: 60px 60px 60px 60px;
  box-shadow: inset 0 0 90px 30px hsl(232, 80%, 60%);
  text-shadow: 1px 1px 10px #ffffff;
  padding: 1rem 1rem;
  margin: 1rem 1rem auto;
}

#tillbaka {
  font-size: 12px;
  color: #000000
}


/*-- Quizen --*/

.alter {
  font-weight: 300;
  display: inline-block;
  margin-bottom: 8px;
}

form {
  max-width: 30em;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

.nummerquiz {
  background-color: #0015ff;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 54px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

#svar_knapp {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 23px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0 1px 3px rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

/*-- Media query --*/

@media screen and (width <= 480px) {
  #amne {
    display: block;
  }
}

@media screen and (width >= 1280px) {
  #amne {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
  }
}